{% extends "beam/pagetables.html" %}
{% load static %}
{% block ajaxRequests %}

$(".load-table-input").focusout(function (e) {
    e.preventDefault();
    const attributeArray = e.target.id.split("-");
    
    if (attributeArray[0] == 'point') {
        var load = beam.PLs.at(attributeArray[2])
        var loadType = 'point'
    } else if (attributeArray[0] == 'dist') {
        var load = beam.DLs.at(attributeArray[2])
        var loadType = 'distributed'
    } else {

    }

    if (attributeArray[1] == 'index') {
        
    } else if (attributeArray[1] == 'startMagnitude') {
        load.startMagnitude = parseFloat(e.target.value);
    } else if (attributeArray[1] == 'endMagnitude') {
        load.endMagnitude = parseFloat(e.target.value);
    } else if (attributeArray[1] == 'startLocation') {
        load.startLocation = parseFloat(e.target.value);
    } else if (attributeArray[1] == 'endLocation') {
        load.endLocation = parseFloat(e.target.value);
    }

    beam.drawLoad(load)
    resizeCanvasToDisplaySize()

    // GET AJAX request
    $.ajax({
        type: 'POST',
        url: "{% url 'update_point_load' %}",
        data: {
            "loadType": loadType,
            "startMagnitude": load.startMagnitude,
            'startLocation': load.startLocation,
            "endMagnitude": load.endMagnitude,
            'endLocation': load.endLocation,
            'index': load.index,
            'L': beam.L,
        },
        success: function (response) {

        },
        error: function (response) {
        }
    })

});

$("#form-startLocation").focusout(function (e) {
    const loadType = 'point'
    if ($("#form-startMagnitude").val() == '') {
        console.log('no mag')
        return
    } else if (e.target.value == '') {
        console.log('no loc')
        return
    }

    beam.defineLoad($("#form-startMagnitude").val(), e.target.value)

    var load = beam.PLs.at(-1);
    beam.drawLoad(load)
    
    // GET AJAX request
    $.ajax({
        type: 'POST',
        url: "{% url 'update_point_load' %}",
        data: {
            "loadType": loadType,
            "startMagnitude": load.startMagnitude,
            'startLocation': load.startLocation,
            'index': load.index,
            'L': beam.L,
        },
        success: function (response) {
            console.log(response)
            var newrow = $(`<tr>
                                <td class="sorting_1 nopadding">
                                    <input id="point-index-` + load.index + `" class="form-control form-control-sm bg-transparent border-transparent load-table-input numberinput" value= ` + load.index + ` onfocus="this.select();">
                                </td>
                                <td class="nopadding">
                                    <input id="point-startMagnitude-` + load.index + `" class="form-control form-control-sm bg-transparent border-transparent load-table-input numberinput" value= ` + load.startMagnitude + ` onfocus="this.select();">
                                </td>
                                <td class="nopadding">
                                    <input id="point-startLocation-` + load.index + `" class="form-control form-control-sm bg-transparent border-transparent load-table-input numberinput" value= ` + load.startLocation + ` onfocus="this.select();">
                                </td>
                            </tr>`);
            newrow.insertBefore(e.target.closest('tr'));
            $("#form-index").val('');
            $('#form-startMagnitude').val('');
            $('#form-startMagnitude').focus();
            $('#form-startLocation').val('');
        },
        error: function (response) {
            console.log('error')
        }
    })
});

$(".model-input").focusout(function (e) {
    e.preventDefault();
    // EXAMPLE - attribute array = ['support', 'location', 0, 'span']
    const attributeArray = e.target.id.split("-");
    
    // the first value is the name of the element (point, distributed, support)
    if (attributeArray[0] == 'support') {
        var support = beam.supports.at(attributeArray[2])
    } else if (attributeArray[0] == 'dist') {
        var load = beam.DLs.at(attributeArray[2])
    } else if (attributeArray[0] == 'point') {
        var load = beam.PLs.at(attributeArray[2])
    }

    var data = {};

    if (attributeArray[1] == 'location') {
        if (support.location == beam.L) {
            beam.L = parseFloat(e.target.innerHTML);
        }
        support.location = parseFloat(e.target.innerHTML);
        data = {
            'type': attributeArray[0],
            'index': support.index,
            'location': support.location,
            "L": beam.L,
        };
    } else if (attributeArray[1] == 'startLocation') {
        load.startLocation = parseFloat(e.target.innerHTML);
        data = {
            'type': attributeArray[0],
            'index': load.index,
            'startLocation': load.startLocation,
        };
    } else if (attributeArray[1] == 'endLocation') {
        load.endLocation = parseFloat(e.target.innerHTML);
        data = {
            'type': attributeArray[0],
            'index': load.index,
            'endLocation': load.endLocation,
        };
    }

    $.ajax({
        type: 'POST',
        url: "{% url 'update_model' %}",
        data: data,
        success: function (response) {
            beam.set_length()
            // if (support) {
            //     beam.drawSupport(support)
            // } else if (load) {
            //     beam.drawLoad(load)
            // }
            updateModelInputLocation(attributeArray[0], attributeArray[1], attributeArray[2], new THREE.Vector3(getThreeJSCoordinate(parseFloat(e.target.innerHTML)), 0, -30));
            resizeCanvasToDisplaySize();
            console.log('success')
        },
        error: function (response) {
            console.log('failure')
        }
    })
});

$("#sectionSelect").change(function () {
    changeDeflectionData();
});

{% endblock ajaxRequests %}