{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>jBeam</title>

        
        <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <!-- Our Custom CSS -->
        <link rel="stylesheet" href="{% static 'beam/main.css' %}">
        <!-- Chart js -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>

    <body>
        {% block rightsidebar %} {% endblock %}
        <header class="site-header py-0">
            <nav class="navbar navbar-expand-lg navbar-light py-0" id="top-navbar">
                <!-- <a class="navbar-brand" href="#">Navbar</a> -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse py-0" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item navbar-first">
                        <a class="nav-link py-0" href="#">File<span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link py-0" href="#">Codes<span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-0" href="#">Materials<span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link py-0" href="#">Loads</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link py-0" href="#">Variables</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-0" href="#" onclick="draw_diagrams()">Solve</a>
                      </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle py-0" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled py-0" href="#">Disabled</a>
                    </li>
                  </ul>
                  <!-- <form class="form-inline my-2 my-lg-0">
                    <input class="form-control btn-sm mr-sm-1" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-sm btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form> -->
                </div>
            </nav>
            <nav class="navbar navbar-expand-lg py-4" id="bot-navbar">
                <a class="navbar-brand" href="#">jBeam</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Add Load
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Point</a>
                        <a class="dropdown-item" href="#">Distributed</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
                </div>
            </nav>
        </header>

        <div class="wrapper">
        <!-- Sidebar  -->
            {% block leftsidebar %} {% endblock %}
            <!-- <nav id="sidebar" class="my-col">
                <div class="sidebar-header">
                    <h3>Point Load</h3>
                </div>
                <div id="pointloadpk" style="display: none">1</div>
                <form class="form-horizontal" method="POST">{% csrf_token %}
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th>
                                    Magnitude
                                </th>
                                <td>
                                    {{ form.magnitude|as_crispy_field }}
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Location
                                </th>
                                <td>
                                    {{ form.location|as_crispy_field }}
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Primary Key
                                </th>
                                <td>
                                    {{ form.index|as_crispy_field }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-primary" value='POST'>Submit</button>
                </form>

                <ul class="list-unstyled CTAs">
                    <li>
                        <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
                    </li>
                    <li>
                        <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
                    </li>
                </ul>
            </nav> -->

            <!-- Page Content  -->
            <div id="content" class="threejs">
                {% block content %} {% endblock %}
                <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-content">
                    <div class="container-fluid">

                        <button type="button" id="sidebarCollapse" class="btn btn-info">
                            <i class="fas fa-align-left"></i>
                        </button>
                        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-align-justify"></i>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="nav navbar-nav ml-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#">Page</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Page</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Page</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Page</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav> -->
                <div id="threejs-container" class="module">
                    <canvas></canvas>
                </div>
                <div id="table-container" class="module">
                    
                </div>
            </div>
        </div>
    </div>

    {% block externalscripts %} {% endblock externalscripts %}

    {% block threejs %} {% endblock threejs %}
    
    <!-- Alertify JavaScript
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script> -->
    <!-- Alertify CSS
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/> -->
    <!-- jQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <!-- jQuery Custom Scroller CDN
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script> -->
    <!-- <script type="text/javascript">
      $(document).ready(function () {
          $("#sidebar").mCustomScrollbar({
              theme: "minimal"
          });

          $('#sidebarCollapse').on('click', function () {
              $('#sidebar, #content').toggleClass('active');
              $('.collapse.in').toggleClass('in');
              $('a[aria-expanded=true]').attr('aria-expanded', 'false');
          });
      });
    </script> -->
  </body>
</html>