{% extends "beam/rightsidebar.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block loadtable %}

<nav id="load-table" class = "table" style="display: ;">
    <div class="sidebar-header">
        <h4>Beam Loads</h4>
    </div>
    <table class="table table-striped">
        <tbody>
            <thead>
                <th>
                    Label
                </th>
                <th>
                    Magnitude
                </th>
                <th>
                    Start Location
                </th>
                <th>
                    End Location
                </th>
            </thead>
            <tr>
                <td>
                    Index
                </td>
                <td>
                    <input id = 'hidden-index' class="form-control form-control-sm numberinput">
                </td>
            </tr>
        </tbody>
    </table>
</nav>

{% endblock loadtable %}