{% extends "beam/ajaxrequests.html" %}
{% load static %}
{% block modelClasses %}

class Beam {
    constructor(L, E, I, A, Lcant, Rcant, left_support_type, right_support_type) {
        // This beam class assumes there are only two supports for the beam


        // Beam object
        // L = total length
        // E = Modulus of elasticity
        // I = Moment of inertia
        // A = Area
        // Lcant = Left cantilever length
        // Rcant = Right cantilever length
        // this.left_support_restraints = [Vx, Vy, Vz, Mx, My, Mz]
        // where 

        // this.PLs = list of point load objects
        // this.DLs = list of distributed load objects
        // this.POIs = list of distances that are points of interest where cuts will be made to solve for internal forces 

        this.L = L;
        this.E = E;
        this.I = I;
        this.A = A;
        this.Lcant = Lcant;
        this.Rcant = Rcant;
        this.L_btwn_supports = this.L - this.Lcant - this.Rcant;
        this.left_support_restraints = left_support_type;
        this.left_support_type = right_support_type;
        this.PLs = [];
        this.DLs = [];
        this.supports = [];
        this.POIs = [];
        this.clickColor = new THREE.Color(0x0000ff);
        this.maxPL = 0;
        this.maxDL = 0;

        this.set_length();
    }

    defineLoad(startMagnitude, startLocation, endLocation=null, endMagnitude=null) {
        var rand = Math.round(colorList.length * Math.random());
        var color = colorList[rand];
        colorList.splice(rand,1);

        // determine if point or dist load
        if (endLocation) {
            if (endMagnitude == null) {
                endMagnitude = startMagnitude;
            }
            var load = new Dist(color, startMagnitude, startLocation, endLocation, endMagnitude);
            this.DLs.push(load);
            load.index = this.DLs.length-1;
            load.type = 'dist';

            // create text box for model end location
            createModelInput(load.type, 'endLocation', load.index, load.endLocation);

            // campare load magnitude to existing load magnitudes
            if (Math.abs(load.startMagnitude) > this.maxDL) {
                this.maxDL = Math.abs(load.startMagnitude);
                load.isMaxDL = true;
                for (var i=0;i<this.DLs.length-1; i++) {
                    this.DLs[i].isMaxDL = false;
                }
                // redraw other point loads
            } else {load.isMaxDL = false;}
        }
        else {
            var load = new Point(color, startMagnitude, startLocation);
            this.PLs.push(load);
            load.index = this.PLs.length-1;
            load.type = 'point';

            if (Math.abs(load.startMagnitude) > this.maxPL) {
                this.maxPL = Math.abs(load.startMagnitude);
                load.isMaxPL = true;
                for (var i=0;i<this.PLs.length-1; i++) {
                    this.PLs[i].isMaxPL = false;
                }
                // redraw other point loads
            } else {load.isMaxPL = false;}
        }
    
        // material
        load.arrowMat = new THREE.MeshBasicMaterial( {color: load.color} );

        // create text boxes for load start location
        createModelInput(load.type, 'startLocation', load.index, load.startLocation);
    }

    defineSupport(location, type) {
        var support = new Support(location, type);
        support.index = this.supports.length;
        this.supports.push(support);

        if (support.type == 'pin') {
            support.geometry = new THREE.ConeGeometry( 5, 10, 25 );
            support.material = new THREE.MeshBasicMaterial( {color: 0x00ff00} );
        }

        createModelInput('support', 'location', support.index, support.location);
    }

    drawSupport(support) {
        support.mesh = new THREE.Mesh( support.geometry, support.material );
        support.locationOnCanvas = support.location / this.L * 200 - 100;

        // setup for creating a tick on the x axis
        lineMats.push(new LineMaterial( {
            color: 0x000000,
            linewidth: 3, // in pixels
            vertexColors: false,
            //resolution:  // to be set by renderer, eventually
            dashed: false,
            alphaToCoverage: true,
        } ));
        console.log(support.locationOnCanvas)
        const line = drawLine([[support.locationOnCanvas,0,axisY+axisHeight],[support.locationOnCanvas, 0, axisY-axisHeight]], lineMats.at(-1));
        line.userData.line = true;
        scene.add(line);
        // push an array with a single value for the tick mark
        ticks.push([line]);

        define_userData(support.mesh, 'support', support.mesh.material.color.getHex(), this.supports.length-1, ticks.length-1);

        support.mesh.position.x = support.locationOnCanvas;
        support.mesh.position.z = -12
        support.mesh.rotation.x = Math.PI / 2;
        // support.mesh.rotation.y = Math.PI / 8;
        scene.add( support.mesh );
    }
    
    drawLoad(load) {
        var click = false;
        // if load has already been drawn
        if (load.mesh) {
            if (CLICKED==load.mesh) {
                CLICKED.material.color.set( CLICKED.userData.og_color );
                click = true;
            }

            // remove arrow mesh
            load.mesh.geometry.dispose();
            load.mesh.material.dispose();
            scene.remove( load.mesh );

            // remove tick mesh
            for (var i=0; i<ticks[load.mesh.userData.tickIndex].length; i++) {
                ticks[load.mesh.userData.tickIndex][i].material.dispose();
                ticks[load.mesh.userData.tickIndex][i].geometry.dispose();
                scene.remove( ticks[load.mesh.userData.tickIndex][i] );
            }
        }
        var cylGeo = [];
        var coneGeo = [];
        var numArrows = 0;
        var multiplier = 0;
        const canvas = renderer.domElement; 
        const width = canvas.clientWidth;
        var widthLoad = 0;

        load.startLocationOnCanvas = load.startLocation / this.L * 200 - 100;
        load.endLocationOnCanvas = load.endLocation / this.L * 200 - 100;

        // setup for creating a tick on the x axis
        lineMats.push(new LineMaterial( {
            color: 0x000000,
            linewidth: 3, // in pixels
            vertexColors: false,
            //resolution:  // to be set by renderer, eventually
            dashed: false,
            alphaToCoverage: true,
        } ));
        const startLine = drawLine([[load.startLocationOnCanvas,0,axisY+axisHeight],[load.startLocationOnCanvas, 0, axisY-axisHeight]], lineMats.at(-1));
        startLine.userData.line = true;
        var endLine = null;
        scene.add(startLine);

        if (load.endLocation) {
            widthLoad = Math.abs(load.endLocationOnCanvas - load.startLocationOnCanvas);
            numArrows = Math.floor(width / (widthLoad * 1.8)) - 1;                

            if (load.isMaxDL) {
                set_max_dist_load(this);
            }
            multiplier = cylheight_max / this.maxDL;

            // draw tick mark on x axis
            const endLine = drawLine([[load.endLocationOnCanvas,0,axisY+axisHeight],[load.endLocationOnCanvas, 0, axisY-axisHeight]], lineMats.at(-1));
            endLine.userData.line = true;
            scene.add(endLine);
            ticks.push([startLine,endLine]);

            // add top bar piece to dist load
            cylGeo.push(new THREE.CylinderGeometry( cylThickness, cylThickness, widthLoad, 40 ));
            cylGeo.at(-1).rotateZ(Math.PI / 2);
            cylGeo.at(-1).translate((load.startLocationOnCanvas+load.endLocationOnCanvas)/2, 0, beamHeight + -1 * coneHeight + load.startMagnitude*multiplier + cylheight_min);

        } else {
            // needs to be set to zero to make the loop work even though there will be one arrow
            numArrows = 0;

            // push an array with a single value for the tick mark
            ticks.push([startLine]);

            // if load is currently or should now be setting the height limit, redraw the rest of the beams
            if (load.isMaxPL || load.startMagnitude > this.maxPL) {
                set_max_point_load(this);
                redrawPointLoads(this, load.index);
            }
            multiplier = cylheight_max / this.maxPL;
        }

        for (let i = 0; i <= ( numArrows + 1 ); i++) {
            // geometries
            cylGeo.push(new THREE.CylinderGeometry( cylThickness, cylThickness, load.startMagnitude*multiplier + cylheight_min, 40 ));
            coneGeo.push(new THREE.ConeGeometry( 3, coneHeight, 20 ));

            // orientation of geometries
            coneGeo.at(-1).rotateX(Math.PI / 2);
            coneGeo.at(-1).translate(load.startLocationOnCanvas + i * widthLoad / (numArrows+1), 0, -1 * coneHeight / 2 + beamHeight);

            cylGeo.at(-1).rotateX(Math.PI / 2);
            cylGeo.at(-1).translate(load.startLocationOnCanvas + i * widthLoad / (numArrows+1), 0, beamHeight + -1 * coneHeight + (load.startMagnitude * multiplier + cylheight_min)/ 2);
        }
        
        // combine geometries into single geometry and create mesh object
        load.arrowGeo = BufferGeometryUtils.mergeBufferGeometries(cylGeo.concat(coneGeo));
        load.mesh = new THREE.Mesh(load.arrowGeo, load.arrowMat)

        // assign index in loads to mesh userData
        define_userData(load.mesh, load.type, load.arrowMat.color.getHex(), load.index, ticks.length - 1);

        // add arrow mesh object to scene
        scene.add( load.mesh );

        // if the arrow was clicked, keep it highlighted blue
        if (click) {
            CLICKED = load.mesh;
            CLICKED.material.color.set( 0x0000ff );
            for (var i=0; i<ticks[CLICKED.userData.tickIndex].length; i++) {
                ticks[CLICKED.userData.tickIndex][i].material.color.set( 0x0000ff );
            }
        }
    }

    set_length() {
        // const beamLen = document.getElementById('beamLen')
        // beamLen.innerText = beamLen.textContent = String(this.L);

        for (var i=0; i<this.PLs.length; i++) {
            this.drawLoad(this.PLs[i])
            updateModelInputLocation('point', 'startLocation', i, new THREE.Vector3(getThreeJSCoordinate(beam.PLs[i].startLocation), 0, -30));
        }

        for (var i=0; i<this.DLs.length; i++) {
            this.drawLoad(this.DLs[i])
            updateModelInputLocation('dist', 'startLocation', i, new THREE.Vector3(getThreeJSCoordinate(beam.DLs[i].startLocation), 0, -30));
            updateModelInputLocation('dist', 'endLocation', i, new THREE.Vector3(getThreeJSCoordinate(beam.DLs[i].endLocation), 0, -30));
        }
    }
}

class Point {
    constructor(color, startMagnitude, startLocation) {
        this.startLocation = startLocation;
        this.startMagnitude = startMagnitude;
        this.color = color;
        this.beam = beam;
        this.type = 'point';
    }
}

class Dist {
    constructor(color, startMagnitude, startLocation, endLocation, endMagnitude=null) {
        this.color = color;
        this.startMagnitude = startMagnitude;
        this.startLocation = startLocation;
        this.endLocation = endLocation;
        this.endMagnitude = endMagnitude;
    }
}
class Support {
    constructor(location, type) {
        this.location = location;
        this.type = type;
    }
}

{% endblock modelClasses %}