{% extends "beam/sidebar.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block pagetables %}

<div id="table-container">
    <div class="row h-100">
      <div class="col-lg-4 mb-3 mb-lg-4 h-100">
        <!-- Card -->
        <div class="card h-100">
          <!-- Header -->
          <div class="card-header">
            <h5 class="card-header-title">Import data into Dashboard</h5>

            <!-- Unfold -->
            <div class="hs-unfold">
              <a class="js-hs-unfold-invoker btn btn-icon btn-sm btn-ghost-secondary rounded-circle" href="javascript:;"
                data-hs-unfold-options='{
                  "target": "#reportsOverviewDropdown2",
                  "type": "css-animation"
                }'>
                <i class="tio-more-vertical"></i>
              </a>

              <div id="reportsOverviewDropdown2" class="hs-unfold-content dropdown-unfold dropdown-menu dropdown-menu-right mt-1">
                <span class="dropdown-header">Settings</span>

                <a class="dropdown-item" href="#">
                  <i class="tio-share dropdown-item-icon"></i> Share chart
                </a>
                <a class="dropdown-item" href="#">
                  <i class="tio-download-to dropdown-item-icon"></i> Download
                </a>
                <a class="dropdown-item" href="#">
                  <i class="tio-alt dropdown-item-icon"></i> Connect other apps
                </a>

                <div class="dropdown-divider"></div>

                <span class="dropdown-header">Feedback</span>

                <a class="dropdown-item" href="#">
                  <i class="tio-chat-outlined dropdown-item-icon"></i> Report
                </a>
              </div>
            </div>
            <!-- End Unfold -->
          </div>
          <!-- End Header -->

          <!-- Body -->
          <div class="card-body">
            <p>See and talk to your users and leads immediately by importing your data into the Front Dashboard platform.</p>

            <ul class="list-group list-group-flush list-group-no-gutters">
              <li class="list-group-item py-3">
                <h5 class="modal-title">Import users from:</h5>
              </li>

              <!-- List Group Item -->
              <li class="list-group-item py-3">
                <div class="media">
                  <div class="mt-1 mr-3">
                    <img class="avatar avatar-xs avatar-4by3" src="{% static 'beam/assets/svg/brands/capsule.svg" alt="Image Description">
                  </div>
                  <div class="media-body">
                    <div class="row align-items-center">
                      <div class="col">
                        <h5 class="mb-0">Capsule</h5>
                        <span class="d-block font-size-sm">Users</span>
                      </div>

                      <div class="col-auto">
                        <a class="btn btn-sm btn-primary" href="#" title="Launch importer" target="_blank">
                          Launch <span class="d-none d-sm-inline-block">importer</span>
                          <i class="tio-open-in-new ml-1"></i>
                        </a>
                      </div>
                    </div>
                    <!-- End Row -->
                  </div>
                </div>
              </li>
              <!-- End List Group Item -->

              <!-- List Group Item -->
              <li class="list-group-item py-3">
                <div class="media">
                  <div class="mt-1 mr-3">
                    <img class="avatar avatar-xs avatar-4by3" src="{% static 'beam/assets/svg/brands/mailchimp.svg" alt="Image Description">
                  </div>
                  <div class="media-body">
                    <div class="row align-items-center">
                      <div class="col">
                        <h5 class="mb-0">Mailchimp</h5>
                        <span class="d-block font-size-sm">Users</span>
                      </div>

                      <div class="col-auto">
                        <a class="btn btn-sm btn-primary" href="#" title="Launch importer" target="_blank">
                          Launch <span class="d-none d-sm-inline-block">importer</span>
                          <i class="tio-open-in-new ml-1"></i>
                        </a>
                      </div>
                    </div>
                    <!-- End Row -->
                  </div>
                </div>
              </li>
              <!-- End List Group Item -->

              <!-- List Group Item -->
              <li class="list-group-item py-3">
                <div class="media">
                  <div class="mt-1 mr-3">
                    <img class="avatar avatar-xs avatar-4by3" src="{% static 'beam/assets/svg/brands/google-webdev.svg" alt="Image Description">
                  </div>
                  <div class="media-body">
                    <div class="row align-items-center">
                      <div class="col">
                        <h5 class="mb-0">Webdev</h5>
                        <span class="d-block font-size-sm">Users</span>
                      </div>

                      <div class="col-auto">
                        <a class="btn btn-sm btn-primary" href="#" title="Launch importer" target="_blank">
                          Launch <span class="d-none d-sm-inline-block">importer</span>
                          <i class="tio-open-in-new ml-1"></i>
                        </a>
                      </div>
                    </div>
                    <!-- End Row -->
                  </div>
                </div>
              </li>
              <!-- End List Group Item -->

              <li class="list-group-item"><small>Or you can <a href="#">sync data to Front Dashboard</a> to ensure your data is always up-to-date.</small></li>
            </ul>
          </div>
          <!-- End Body -->
        </div>
        <!-- End Card -->
      </div>

      <div class="col-lg-8 mb-3 mb-lg-8 h-100">
        
        <!-- Card -->
        <div class="card h-100">
          <!-- Header -->
          <div class="card-header nopadding">
            <!-- <h5 class="card-header-title">Monthly expenses</h5> -->

            <!-- Nav -->
            <ul class="nav nav-segment" id="expensesTab" role="tablist">
              <li class="nav-item"data-trigger="click" data-action="toggle" onclick="showLoads(event, 'Point')">
                <a class="nav-link active" href="javascript:;" data-toggle="tab">Point Loads</a>
              </li>
              <li class="nav-item" data-trigger="click" data-action="toggle">
                <a class="nav-link" href="javascript:;" data-toggle="tab">Distributed Loads</a>
              </li>
              <li class="nav-item" data-trigger="click" data-action="toggle">
                <a class="nav-link" href="javascript:;" data-toggle="tab">Point Moments</a>
              </li>
            </ul>
            <!-- End Nav -->
          </div>
          <!-- End Header -->

          <!-- Body -->
          <!-- Point Loads -->
          <div class="card-body" style="overflow-y:auto;">
            <!-- <div class="row"> -->
              <div class="col-12 nopadding">
                <div class="table">
                  <div class="row">
                    <div class="col-sm-12 h-100">
                      <table id="load-table" class="table table-bordered table-striped w-auto dataTable no-footer" role="grid" aria-describedby="order-listing_info">
                        <thead>
                          <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Order #: activate to sort column descending" style="width: 89.35px;">Label</th>
                            <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" aria-label="Purchased On: activate to sort column ascending" style="width: 145.75px;">Start Magnitude</th>
                            <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" aria-label="Customer: activate to sort column ascending" style="width: 107.225px;">End Magnitude</th>
                            <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" aria-label="Ship to: activate to sort column ascending" style="width: 92.275px;">Start Location</th>
                            <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" aria-label="Base Price: activate to sort column ascending" style="width: 113.7px;">End Location</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for pl in point_loads %}
                            <tr>
                                <td class="sorting_1 nopadding">
                                  <input id="Point-Index-{{ pl.index }}" class="form-control form-control-sm bg-transparent border-transparent load-table-input numberinput" value= {{ pl.index }} onfocus="this.select();">
                                </td>
                                <td class="nopadding">
                                  <input id="Point-Magnitude-{{ pl.index }}" class="form-control form-control-sm bg-transparent border-transparent load-table-input numberinput" value= {{ pl.magnitude }} onfocus="this.select();">
                                </td>
                                <td class="nopadding">
                                  <input id="Point-Location-{{ pl.index }}" class="form-control form-control-sm bg-transparent border-transparent load-table-input numberinput" value= {{ pl.location }} onfocus="this.select();">
                                </td>
                            </tr>
                          {% endfor %}
                          <tr>
                            <!-- <form id="new-point-load" method="POST">{% csrf_token %} -->
                              <td class="sorting_1 nopadding">
                                <input type="number" name="magnitude" class="form-control form-control-sm bg-transparent border-transparent numberinput" id="form-index" step="any" required="">
                              </td>
                              <td class="nopadding">
                                <input type="number" name="magnitude" class="form-control form-control-sm bg-transparent border-transparent numberinput" id="form-magnitude" step="any" required="">
                              </td>
                              <td class="nopadding">
                                <input type="number" name="magnitude" class="form-control form-control-sm bg-transparent border-transparent numberinput" id="form-location" step="any" required="">
                              </td>
                            <!-- </form> -->
                          </tr>
                          <tr>
                            <td class="sorting_1">1</td>
                            <td>2012/08/03</td>
                            <td>Edinburgh</td>
                            <td>New York</td>
                            <td>$1500</td>
                          </tr>
                          <tr>
                            <td class="sorting_1">2</td>
                            <td>2015/04/01</td>
                            <td>Doe</td>
                            <td>Brazil</td>
                            <td>
                              <label class="badge badge-danger">Pending</label>
                            </td>
                          </tr>
                          <tr>
                            <td class="sorting_1">3</td>
                            <td>2010/11/21</td>
                            <td>Sam</td>
                            <td>Tokyo</td>
                            <td>
                              <button class="btn btn-outline-primary">View</button>
                            </td>
                          </tr>
                          <tr>
                            <td class="sorting_1">2</td>
                            <td>2015/04/01</td>
                            <td>Doe</td>
                            <td>Brazil</td>
                            <td>
                              <label class="badge badge-sucess">Pending</label>
                            </td>
                          </tr>
                          <tr class="odd">
                            <td class="sorting_1">2</td>
                            <td>2015/04/01</td>
                            <td>Doe</td>
                            <td>Brazil</td>
                            <td>
                              <label class="badge badge-info">Pending</label>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            <!-- </div> -->
          </div>
          <!-- End Point Loads -->

          <!-- Dist Loads -->
          <div class="card-body" style="overflow-y:auto; display: none;">
            <!-- <div class="row"> -->
              <div class="col-12 nopadding">
                <div class="table">
                  <div class="row">
                    <div class="col-sm-12 h-100">
                      <table id="load-table" class="table table-bordered table-striped w-auto dataTable no-footer" role="grid" aria-describedby="order-listing_info">
                        <thead>
                          <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Order #: activate to sort column descending" style="width: 89.35px;">Label</th>
                            <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" aria-label="Purchased On: activate to sort column ascending" style="width: 145.75px;">Start Magnitude</th>
                            <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" aria-label="Customer: activate to sort column ascending" style="width: 107.225px;">End Magnitude</th>
                            <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" aria-label="Ship to: activate to sort column ascending" style="width: 92.275px;">Start Location</th>
                            <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" aria-label="Base Price: activate to sort column ascending" style="width: 113.7px;">End Location</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for dl in distributed_loads %}
                            <tr>
                                <td class="sorting_1 nopadding">
                                  <input id="Distributed-Index-{{ dl.index }}" class="form-control form-control-sm bg-transparent border-transparent load-table-input numberinput" value= {{ dl.index }} onfocus="this.select();">
                                </td>
                                <td class="nopadding">
                                  <input id="Distributed-Magnitude-{{ dl.index }}" class="form-control form-control-sm bg-transparent border-transparent load-table-input numberinput" value= {{ dl.magnitude }} onfocus="this.select();">
                                </td>
                                <td class="nopadding">
                                  <input id="Distributed-Location-{{ dl.index }}" class="form-control form-control-sm bg-transparent border-transparent load-table-input numberinput" value= {{ dl.location }} onfocus="this.select();">
                                </td>
                            </tr>
                          {% endfor %}
                          <tr>
                            <!-- <form id="new-point-load" method="POST">{% csrf_token %} -->
                              <td class="sorting_1 nopadding">
                                <input type="number" name="magnitude" class="form-control form-control-sm bg-transparent border-transparent numberinput" id="form-index" step="any" required="">
                              </td>
                              <td class="nopadding">
                                <input type="number" name="magnitude" class="form-control form-control-sm bg-transparent border-transparent numberinput" id="form-magnitude" step="any" required="">
                              </td>
                              <td class="nopadding">
                                <input type="number" name="magnitude" class="form-control form-control-sm bg-transparent border-transparent numberinput" id="form-location" step="any" required="">
                              </td>
                            <!-- </form> -->
                          </tr>
                          <tr>
                            <td class="sorting_1">1</td>
                            <td>2012/08/03</td>
                            <td>Edinburgh</td>
                            <td>New York</td>
                            <td>$1500</td>
                          </tr>
                          <tr>
                            <td class="sorting_1">2</td>
                            <td>2015/04/01</td>
                            <td>Doe</td>
                            <td>Brazil</td>
                            <td>
                              <label class="badge badge-danger">Pending</label>
                            </td>
                          </tr>
                          <tr>
                            <td class="sorting_1">3</td>
                            <td>2010/11/21</td>
                            <td>Sam</td>
                            <td>Tokyo</td>
                            <td>
                              <button class="btn btn-outline-primary">View</button>
                            </td>
                          </tr>
                          <tr>
                            <td class="sorting_1">2</td>
                            <td>2015/04/01</td>
                            <td>Doe</td>
                            <td>Brazil</td>
                            <td>
                              <label class="badge badge-sucess">Pending</label>
                            </td>
                          </tr>
                          <tr class="odd">
                            <td class="sorting_1">2</td>
                            <td>2015/04/01</td>
                            <td>Doe</td>
                            <td>Brazil</td>
                            <td>
                              <label class="badge badge-info">Pending</label>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            <!-- </div> -->
          </div>
          <!-- End Dist Loads -->
          <!-- End Body -->
        </div>
        <!-- End Card -->
      </div>
      <!-- End Col -->
    </div>
  </div>

{% endblock pagetables %}