{% extends "beam/rightsidebar.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block leftsidebar %}

    <nav id="hidden-elements" style="display: none;">
        
    </nav>

    <nav id="sidebar" class="my-col" style="display: ;">
        <div class="sidebar-header">
            <h3>Point Load</h3>
        </div>
        <form class="form-horizontal" method="POST">{% csrf_token %}
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>
                            Magnitude
                        </th>
                        <td>
                            {{ form.magnitude|as_crispy_field }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Location
                        </th>
                        <td>
                            {{ form.location|as_crispy_field }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Load Index
                        </th>
                        <td>
                            {{ form.index|as_crispy_field }}
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary" value='POST'>Submit</button>
        </form>

        <ul class="list-unstyled CTAs">
            <li>
                <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
            </li>
            <li>
                <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
            </li>
        </ul>
    </nav>

    <!-- <nav id="sidebar" style="display: none;">
        <canvas id="shearChart"></canvas>
        <canvas id="momentChart"></canvas>
        <canvas id="deflectionChart"></canvas>
        <button>See Calculations</button>
        
    </nav> -->

{% endblock leftsidebar %}

{% block scripts %} 

{% endblock scripts %}